@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .divisor-vertical{
        @apply h-14 border
    }
    .divisor-horizontal{
        @apply w-screen border
    }
    .btn-efeito{
        @apply bg-white hover:bg-blue-700 text-corTexto-100 font-bold py-2 px-4 rounded-full w-40 mt-5 text-center 
    }

    .espaco-menu{
        @apply text-corTexto-100 flex justify-between p-[18px]
    }

    .tamanhoArrow{
        @apply h-[18px] w-[18px]
    }

    .linha-tempo{
        @apply flex sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5
    }

    .texto-tempo{
        @apply sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full
    }

    .alinha-items{
        @apply  flex flex-col relative pl-8 sm:pl-32 py-6 max-w-[800px]
    }

    .ancoragem{
        @apply hidden md:block relative  
    }

    .hover-left{
        @apply absolute -bottom-0 left-1/2 w-0 transition-all h-0.5 bg-indigo-600 group-hover:w-3/6
    }

    .hover-right{
        @apply absolute -bottom-0 right-1/2 w-0 transition-all h-0.5 bg-indigo-600 group-hover:w-3/6
    }

    .input-cadastro{
        @apply invalid:focus:border-2 invalid:focus:border-red-400 w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none
    }

    .termos-politica {
        @apply flex justify-center pt-10;
    }

    .container {
        @apply p-5 border border-solid border-black shadow-md mb-5;
    }

    .subtitulo {
        @apply text-center mt-5;
    }

    .lista {
        @apply flex justify-center text-left;
    }

    .forma {
        @apply text-center text-lg font-bold;
    }

    .aviso {
        @apply text-lg;
    }

    .contrato {
        @apply font-bold;
    }

    .link {
        @apply text-black underline;
    }

    .voltar {
        @apply flex justify-center mt-8;
    }

}